*{
    box-sizing: border-box;
}
body{
    height: 100%;
text-align: center;
background-image: url(/img/1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
div{
    margin-top: 20px;
}
table{
   background-color: aliceblue;
    margin: auto;
    border: 3px solid rgb(32, 15, 95);
}

td{
    text-align: center;
  height: 50px;
  width: 50px;
    border: 1px solid black;
    cursor: pointer;
    
}


.mine{
    background-color: brown;
}

.reg{
    background-color: rgb(188, 196, 196);
}


button{
    border-radius: 15%;
    padding: 10px;
    width: 100px;
    font-weight: 700;
    background-color: rgb(26, 39, 109);
    color: white;
    cursor: pointer;
}

.smile{
    font-size: 30px;
    
}

.first{
color: #dbd24a

}
.count, .marked, .time{
    display: inline-block;
margin-right: 10%;
margin-left: 3%;
color: rgb(5, 87, 55);
}

.lives{
    color: rgb(202, 29, 52);
}

.name{
    color: rgb(79, 81, 82);
}